h1 { 
    padding:60px;
    font-size: 100%;
    text-align: right;
}
<img src="imagefile. jpg" alt="Image" height="42" width="42">
p { 
    color:black;
}

.nanami1{
    float: left;
    BORDER;     

